---
import type { ImageProps } from '~/utils/images-optimization';
import Image from '../common/Image.astro';
import { Icon } from 'astro-icon/components';

export interface PersonalProject {
  title: string;
  description: string;
  image: ImageProps['src'];
  technologies: Array<{ name: string; icon?: string }>;
}
const { title, description, image, technologies } = Astro.props as PersonalProject;
---

<div class="flex flex-col gap-1 text-start p-4 rounded-md bg-light dark:bg-dark z-20">
  <Image
    class="rounded-xl bg-gray-500 shadow-lg z-10"
    widths={[300, 500]}
    layout="responsive"
    src={image}
    alt={'Brandin'}
  />
  <h2 class="font-bold font-heading leading-tighter leading-tighter tracking-tighter text-heading text-xl">
    {title}
  </h2>
  <span class="font-medium font-heading leading-tighter leading-tighter tracking-tighter text-md">
    {description}
  </span>
  <div class="flex text-sm gap-1 flex-wrap font-medium">
    {
      technologies.map(({ name, icon }) => (
        <div class="bg-primary rounded-sm px-1 flex gap-x-0.5 items-center">
          {icon && <Icon name={icon} class="w-4 h-4" />}
          <span>{name}</span>
        </div>
      ))
    }
  </div>
</div>
