---
import '~/assets/styles/tailwind.css';

import grunge from '~/assets/images/grunge.png';
import { I18N } from '~/utils/config';
// import googlePlayImg from '~/assets/images/google-play.png';

import CustomStyles from '~/components/CustomStyles.astro';
import Favicons from '~/components/Favicons.astro';
import Analytics from '~/components/common/Analytics.astro';
import ApplyColorMode from '~/components/common/ApplyColorMode.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';
import CommonMeta from '~/components/common/CommonMeta.astro';
import Metadata from '~/components/common/Metadata.astro';
import SiteVerification from '~/components/common/SiteVerification.astro';

import { Image } from 'astro:assets';
import type { MetaData as MetaDataType } from '~/types';

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>
<!-- <html lang={language} dir={textDirection} class="2xl:text-[20px]"> -->
<html lang={language} dir={textDirection}>
  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <SiteVerification />
    <Analytics />
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />
    <Image
      alt="background"
      class="fixed inset-0 w-full h-full leaf-pattern opacity-10 dark:opacity-40 pointer-events-none"
      src={grunge}
      height={1000}
      width={1000}
    />
    <BasicScripts />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
